<!DOCTYPE html>

<html>

<head>
	<title>To Do List</title>
	<link rel="stylesheet" href="css/main.css" type="text/css" />
	<script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="js/appSetup.js"></script>
    <script type="text/javascript" src="js/ctrl-addEvent.js"></script>
    <script type="text/javascript" src="js/ctrl-removeEvent.js"></script>
</head>

<body ng-app="app" ng-controller="addEvent">

	<div class="container">
	
        <h1>To Do List</h1>
		<br/>
	
	
	    <form name="addForm" ng-submit="addEvent()" class="form">
            <label>Day&nbsp;&nbsp;&nbsp;</label>
			<select ng-model="input.day" required><option ng-repeat="day in days" value="{{day.name}}">{{day.name}}</option></select>
			<br/>
			<br/>
				
	        <label>To do&nbsp;</label>
	        <input type="text" ng-model="input.text" required/>
			<br/>
			<br/>	
	            
			<label>Time&nbsp;&nbsp;</label>
	     	<input type="time" ng-model="input.time" placeholder="HH:mm" min="00:00" max="23:59" />
			<br/>
			<br/>	
				
			<button><h4>Add a reminder</h4></button>
			<br/>
			<br/>
			<br/>
			
			{{successMessage}}
	    </form>
				
		<div id class="day" ng-repeat="day in days">	
			<h3>{{day.name}}</h3>
			<span ng-show="!day.array.length">No reminders</span>
			<ul ondrop="drop(event)" ondragover="allowDrop(event)">
				<li ng-repeat="event in day.array | orderBy:['text'] " ng-show="!event.time">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.text}}
					<button ng-controller="removeEvent" ng-click="delete(event, day.name)">x</button>
				</li>
				<li class="timed" ng-repeat="event in day.array | orderBy:['time']" ng-show="event.time">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.time | date: "HH:mm" }} {{event.text}}
					<button ng-controller="removeEvent" ng-click="delete(event, day.name)">x</button>
				</li>
			</ul>	
		</div>
						
</body>

</html>